<?xml version="1.0" encoding="utf-8" ?>
<widget id="com.gopis.ratone" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ra-tone</name>
    <description>ra-tone is a ringtone App, which allows user to download or set ringtone through the app.</description>
    <author email="er.gopiselvam@gmail.com" href="www.dreamguys.co.in">Gopi ST</author>
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <plugin name="com.hiraqui.ringtone" source="npm"/>
    <plugin name="com.vliesaputra.deviceinformation" source="pgb"/>
    <plugin name="io.github.pwlin.cordova.plugins.pdialog" source="pgb"/>
    <plugin name="org.apache.cordova.device" source="pgb"/>
    <plugin name="org.apache.cordova.dialogs" source="pgb"/>
    <plugin name="org.apache.cordova.file" source="pgb"/>
    <plugin name="org.apache.cordova.file-transfer" source="pgb"/>
    <plugin name="org.apache.cordova.media" source="pgb"/>
    <plugin name="org.apache.cordova.splashscreen" source="pgb"/>

    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" width="36" height="36" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" width="48" height="48" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" width="72" height="72" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" width="96" height="96" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />

    <icon src="icon-1024.png" />
    <access origin="*" />
</widget>
